h1 {
    color: blueviolet;
}
img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background: rebeccapurple;
    padding: 50px;
    border: 10px solid salmon;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}